<h2 mat-dialog-title>{{ data.user }}</h2>
<mat-dialog-content>
  <mat-button-toggle-group [(ngModel)]="viewMode" aria-label="View Mode" class="view-mode-toggle">
    <mat-button-toggle value="issue">Issue View</mat-button-toggle>
    <mat-button-toggle value="date">Date View</mat-button-toggle>
  </mat-button-toggle-group>

  @if (viewMode === 'issue') {
    @for (issue of data.issues; track $index) {
        <p class="issue-title" [class.red]="hasTicketIssues(issue)"> {{ generateIssueTitle(issue) }} </p>
        @for (worklog of worklogByUser(issue.id); track $index) {
            <label [for]="'worklog-' + issue.id + '-' + $index" class="worklog-date">{{ worklog.started | date:'dd/MM/yyyy, EEEE' }} - {{ worklog.timeSpentSeconds | toHhMm }}</label>
            <input type="checkbox" [id]="'worklog-' + issue.id + '-' + $index" class="worklog-toggle">
            <div class="worklog-comment" [innerHTML]="worklog.comment | formatComment"></div>
            <br>
        }
    }
  } @else if (viewMode === 'date') {
    @for (entry of worklogsByDate; track entry[0]; let i = $index) {
      <h3 class="date-title">{{ entry[0] | date:'dd/MM/yyyy, EEEE' }}</h3>
      @for (worklog of entry[1]; track $index) {
        <label class="bold" [for]="'date-worklog-' + i + '-' + $index">{{ worklog.issueKey }}: {{ worklog.timeSpentSeconds | toHhMm }}</label>
        <input type="checkbox" [id]="'date-worklog-' + i + '-' + $index" class="worklog-toggle">
        <div class="worklog-details">
            <p class="worklog-date">{{ worklog.issueSummary }}</p>
            @if (worklog.comment) {
                <div [innerHTML]="worklog.comment | formatComment"></div>
            }
        </div>
        <br>
      }
    }
  }
</mat-dialog-content>
