<h2 mat-dialog-title>{{ data.user }}</h2>
<mat-dialog-content>
    @for (issue of data.issues; track $index) {
        <p class="issue-title">{{ $index + 1 }}. {{ issue.key }} - {{ issue.fields.summary }}</p>
        @for (worklog of worklogByUser(issue.id); track $index) {
            <p class="worklog-date">{{ worklog.started | date:'dd/MM/yyyy, EEEE' }} - {{ worklog.timeSpentSeconds | toHhMm }}</p>
            <div [innerHTML]="worklog.comment | formatComment"></div>
        }
    }
</mat-dialog-content>
